[class*="col-"] {
    width: 100%;
  }
  @media only screen and (min-width: 768px) {
    [class*="col-"] {
      float: left;
      padding: 15px;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  header{
    width: 100%;
    min-height: 208px;
    background-color: whitesmoke;
    background-image: url(tilburg1.jpg);
    color: rgba(0, 0, 110, 0.582);
    background-size: 1000px 183px;
    background-repeat: no-repeat;
    background-position: 10px 15px;
    font-family: 'Merriweather', serif;
    padding-left: 20px;
  }
  body{
    font-family: Verdana;
  }
  #vijffeiten{
    background-color: #002ec4a9;
    padding: 8px 30px 8px 0px;
    margin: 5px 0px;
  }
  #artikelen{
    min-height: 860px;
    background-color: #8d8d8d;
    margin: 5px 0px 5px 5px;
  }
  h3{
    font-family: 'Merriweather', serif;
    text-align: center;
  }
  .artikel{
    min-height: 360px;
    padding: 5px;
    margin: 5px 5px 5px 5px;
  }
  img{
    max-height: 230px;
    float: right;
    padding: 3px;
    margin: 8px 8px 8px 12px;
    border: 3px solid black;
  }
  footer{
    width: 100%;
    height: 25px;
    background-color: rgb(85, 84, 84);
    font-size: 13px;
    padding: 20px 20px 5px 20px;
    clear: left;
  }

  @media only screen and (min-width: 1200px) {
  header{
  background-color: #535353;
  color: black;
  }
  footer{
    background-color: #000000;
    color: whitesmoke;
  }
  }